<div class='text-center'>
  <%= link_to(teams_path, {:class => 'nav-btn btn btn-primary'}) do %>
    Teams
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  <% end %>
  <br/>
  <br/>
  <%= link_to(users_path, {:class => 'nav-btn btn btn-primary'}) do %>
    Users
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  <% end %>
</div>