<div class='text-center'>
  <h2>Users</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Teams</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <% if user.teams.present? %>
              <% user.teams.each_with_index do |team, idx| %>
                <% if idx != 0 %>
                  <%='|'%>
                <% end %>
                <%=link_to team.name, team_path(team)%>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>